body{
    background-color: greenyellow;
}
table{
    margin:auto
}
table, td{
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    width: 200px;
    height: 200px;
}
.black{
    background-color: black;
}
.white{
    background-attachment: white;
}
h1{
    text-align: center;
}
#egyediszin{
    background-attachment: peru;
}
.kisdoboz{
    background-color: gray;
    border: 1px solid palevioletred;
    border-radius: 15px;
    margin: 0px 15px;
    padding: 10px;
    text-align: justifyS;
}